""" Set <leader>
let mapleader=" "

""" Plugins
set multiple-cursors
set highlightedyank
set commentary

""" Plugins settings
map <C-n> <Plug>NextWholeOccurrence

""" Common settings
set showmode
set showcmd
set scrolloff=5
set incsearch
set hlsearch
set nu rnu

""" Idea specific settings
set ideajoin
set ideastatusicon=gray
set lookupkeys

""" Key mapping -----------------
""" Ideavim actions
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
nmap <leader>s <Action>(ShowUsages)
nmap <leader>u <Action>(FindUsages)
nmap gs <Action>(GotoSuperMethod)
nnoremap <silent> <ESC> :noh<CR><ESC>

""" Commentary
nmap <leader>/ :Commentary<CR>
vmap <leader>/ :Commentary<CR>

""" Toggle case and start typing.
""" Ex) '<leader>iget': 'property' -> 'getProperty'
nmap <leader>i ~hi

""" Remove selection and toggle case.
""" Ex) 'v2l<leader>u': 'getProperty' -> 'property'
vmap <leader>u d~h